* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #eaeae3;
}

.main-h2 {
    padding: 25px 0;
}

/* Header */
header {
    padding: 25px;
    background: black;
}

header h1 {
    color: dodgerblue;
}

.nav-link {
    color: red;
    font-size: 20px;
}

/* Main */
.home-header {
    padding: 25px 0;
}

.rick-image {
    padding-bottom: 50px;
}

/* Footer */
footer {
    background: black;
    padding: 25px 0;
}

footer p {
    color: dodgerblue;
    font-size: 20px;
    text-transform: capitalize;
}

footer a {
    text-decoration: none;
    color: red;
}

/* Single Character Page */
.section-single-characters {
    padding-bottom: 50px;
}

/* Episodes Page */
.figure-episodes {
    height: 155px;
    width: 300px;
    border: 4px solid black;
}

/* Locations Page */
.section-locations {
    padding-bottom: 50px;
}

.figure-locations {
    padding-top: 20px;
    height: 200px;
    width: 300px;
    border: 2px solid black;
}