<%- include('../partials/header'); %>

    <main class="main-home container text-center">
        <h2 class="home-header">Some Rick And Morty Info For Your Viewing...</h2>
        <img src="/media/RickMorty.png" alt="Rick & Morty Picture" class="img-fluid rick-image">
    </main>

<%- include('../partials/footer'); %>